@charset "utf-8";
/* CSS Document */
#container
{
	position: relative;
	margin: 0px auto;
	height:auto;
	width:1000px;
	background-color:#BC9798;	
}
#banner
{
	float:left;
	height:150px;
	width:1000px;
	background-color:#A8C37A;	
	margin-bottom:2px;
}
#menu
{
	float: left;
	height:50px;
	width:1000px;
	background-color:#FF9933;	
}
#main
{
	float: left;
	height:auto;
	width:1000px;
	background-color:#C2E39C;	
	margin-top:2px;
	margin-bottom:2px;
}
#main_left
{
	float: left;
	height:420px;
	width:150px;
	background-color:#00FF66;	
}
#main_right
{
	float: left;
	height:auto;
	width:850px;
	background-color:#99FF33;	
		margin-bottom:2px;
}
#footer
{
	float:left;
	height:100px;
	width:1000px;
	background-color:#E0B65C;

}
#sanpham
{
	float:left;
	height: 200px;
	width:161px;
	background-color:#D39EB8;	
	margin-top:5px;
	margin-left:5px;
	border:solid #8DD3A8;
}
#sanpham_ten
{
	float:left;
	height:30px;
	width:161px;
	color:#E0223A;
	text-align:center;
}
#sanpham_hinh
{
	float:left;
	height:140px;
	width:161px;
}
#sanpham_gia
{
	float:left;
	height:25px;
	width:161px;
	color:#191010;
	text-align:center;
	margin-top:5px;
		
}